.idea/
target/
*.class
profile.properties
snowhouse.properties
snowpark-java-scala.iml
.classpath
.project
.settings/
scalastyle-output.xml
.metals/
.bloop/
src/test/resources/.DS_Store
.vscode/
snowpark.iml
repl_classes/
javaDoc/
.DS_Store
snowpark-fips.iml
snowpark-java.iml
.bsp/
project/target/
